
/* div containing textfields */
.frame-two {
    background-color: #f9f1e6;
    text-align: center;
    width: 300px;
    height: 100%;
    padding: 10px;
    margin: 10% auto;
}

h2 {
    color: #fd5e49;
}

h2, p, .login-link {
    font-family: Arial, Helvetica, sans-serif; 
    text-decoration: none;  
}

/* signup button */
.btn {
    background-color: #fd5e49;
    color: #fff4f0;
    font-weight: bold;
    text-decoration: none;
}

