
/* div containing textfields */
.frame-two {
    background-color: #fefff1;
    text-align: center;
    width: 300px;
    height: 100%;
    padding: 10px;
    margin: 10% auto;
}

/* signup header */
h2 {
    color: #fd5e49;
}

/*.login-link directs user to login page*/
h2, 
p, 
.login-link { 
    font-family: Arial, Helvetica, sans-serif; 
    text-decoration: none;  
}

.login-link {
    font-weight: bold;
}

