body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For all hyperlinks */
a:link, a:visited { /* Unvisited link, visited link  */
  color: #2d4865; 
  text-decoration: none;
  font-weight: bold;
}  

/* Mouse over link, Mouse over link  */
a:hover, a:active {
  color:#536470;
  text-decoration: none;
}   

/* login and signup button */
.btn {
  font-weight: bold;
}