/* Global styling for app */

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For all hyperlinks */
a:link, a:visited { /* Unvisited link, visited link  */
  color: #9b9931; 
  text-decoration: none;
  font-weight: bold;
}  

/* Mouse over link, Mouse over link  */
a:hover, a:active {
  color:#018086;
  text-decoration: none;
}   
