.main-hot {
    background-image: url('/images/photosynthesis-light');
    height: 100vh;
    background-position: center;
    background-size: cover
}

#hot-banner {

}

#hot-link a {

}

#hot-image-title{

}