/* will need to push photo from local branch */
.main-hot {
   /* background-image: url ('/images/photosynthesis-light.css'); */
  height: 100%;
  background-size: cover;
  background-position: center;
}
