.homepageLink {
    text-align: center;
}

.loginBox {
    width: 300px;
    margin: 0 auto;
    /* margin-top: 200px; */
}

#loginPage {
    background-image: url('/images/town.jpg');
    /* width: 100%; */
    height: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}