#chip {
    background-color: #94bdcd !important;
    color: white;
    /* font-size: 19px; */
    font-weight: bold;
}

.MuiAutocomplete-popper {
    left: -10px !important;
    width: 275px !important;
}