#eventPage {
    background-image: url('./map.jpg');
    min-height: 100vh;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
}

.bulletin2 {
    text-align: center;
    color: #a120dd;
    text-shadow: 3px 1px #09040c;
    font-family: 'Pangolin';
}

#toHomeLink {
    color: #84d306;
    text-shadow: 3px 1px #09040c;
}