/* plane event background */
#eventPage {
    background-image: url('/images/map.jpg');
    height: 100vh;
}

/*h1 */
.bulletin2 {
    text-align: center;
    color: #ddb931;
    text-shadow: 1px 1px whitesmoke;
}