/* text under user image */
.userInfo {
    color: white;
    list-style-type: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
}
/* outermost div */
.main-user {
    background-color:#adcfc7;
    width: 100%;
    min-height: 100vH;
    background-position: center;
    background-size: cover;
    font-size: 18px;
}

/* main container */
.main-grid{
    width: 80% !important;
    margin: 5% auto;
    padding: 15px;
}

/* allows user to scale to browser size */
.main-grid img {
max-width: 50%;
height: auto;
margin-left: 25%;
}

/* To bulletin board link */
.main-user a {
    display: block;
    background-color: #80aec0;
    color: white;
}

.grid-2 {
margin-left: 20%;
}

.friend-listing ul {
    padding-left: 20px;
}

.friend-listing li {
    list-style-type: circle;
}


.MuiPaper-elevation1 {
    margin-left: 1rem !important;
}
