.userInfo {
    color: white;
    list-style-type: none;
}

.main-user {
    background-color:#adcfc7;
}

.main-user a {
    display: block;
    background-color: #80aec0;
}

.MuiPaper-elevation1 {
    margin-left: 2rem !important;
}