.home {
    background-image: url('/images/settlers.jpg');
    height: ;
    background-position: center;
    background-size: cover;
}

.bulletin {
    text-align: center;
    color: #6c472f;
    text-shadow: 1px 1px whitesmoke;
}