.outer-wrapper{
    display: inline-block; 
    margin: 20px;
}

.frame{  
    width: 250px;
    height: 200px;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
} 