
/* div containing textfields */
.frame {
    background-color: #fcfbf9;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:  0 0 20px 5px #33231d;
    text-align: center;
    width: 300px;
    height: 100%;
    padding: 10px;
    margin: 3% auto;
}

/* signup header */
h2 {
    color: #fd5e49;
}

/*.login-link directs user to login page*/
h2, 
p, 
.login-link { 
    font-family: Arial, Helvetica, sans-serif; 
    text-decoration: none;  
}

.login-link {
    font-weight: bold;
}


