/* outermost div */
.MuiPaper-root {
    background-color: #faf5f2 !important;
}

#main-game-list {
    font-size: 18px;

}

/* container holding game list */
#list {
    border:1px solid #cac9c7; 
}

/* h6 */
#main-game-list h6{
    margin: 10px;
    font-size: 17px;
}

.MuiPaper-root, .makeStyles-paper-370, .MuiPaper-elevation1, .MuiPaper-rounded {
    margin-left: 0rem !important;
    margin-right: 0px !important;

}

/* # players and max playtime boxes */
.MuiFormControl-root {
    margin-top: 0 !important;
}

#saved {
    margin-top: 10%;
}